table {
    width: 100%;
    /* background-color: #303030;
    color: #fff; */
  }
  th.mat-sort-header-sorted {
    color: black;
  }

  td img{
    cursor:pointer;
  }

  .card .flt-rgt img{
    margin-left: 5px;
  }

  p.ng-star-inserted{
    margin-left: 20px;
  }

  td img.disabled{
    cursor: default;
    opacity: 50%;
  }